<!-- cards.index.html.erb -->

<!-- shows current_user his or her cards
asks if want to choose from other's user_cards -->
<br>
<h1>Here are your credit cards, #{@user.fname} </h1>
<table border="1" style="width:100%">
   <tr>    
   	<td><h3>CardType</h3></td>
    <td><h3>CardNumber</h3></td>
    <td><h3>Expiration</h3></td>
  </tr>
<% @card.each do |w| %>
<tr>
	<td><%= w.cardtype %></td>
	<td><%= w.cardnum %></td>   
	<td><%= w.expire_m " / " w.expire_y %></td>
</tr>
<%end%>
</table>
<br>
